* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.customizationbox {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-box {
    position: absolute;
    height: 30rem;
    width: 25rem;
    background-color: rgba(247, 145, 0, 0.8);
    border: black solid 2px;
    z-index: 5;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.closewindowicon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    font-size: x-large;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 6;
}
.closewindowicon:hover {
    color: rgb(75, 74, 74);
}
.restnamecustom {
    font-size: x-large;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(255, 208, 0);
}
.dishdescrip {
    width: 90%;
    margin-top: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.customname {
    height: 2rem;
    width: 80%;
    margin-top: 0.5rem;
    border-radius: 1rem;
    background: white;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.customwindow {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.custombox {
    height: 1.5rem;
    width: 70%;
    margin-top: 5px;
    border-radius: 1rem;
    background: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.customizationname {
    margin-left: 1rem;
}
.plus-icon {
    margin-right: 1rem;
}

.customSelect {
    margin-right: 1rem;
}

input[type="radio"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type="radio"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type="checkbox"]:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #d1d3d1;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type="checkbox"]:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -3px;
    left: -2px;
    position: relative;
    background-color: #ffa500;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.hidden {
    display: none;
}

.addtocart-btn {
    margin: 10px;
    height: 3rem;
    width: 15rem;
    border-radius: 10px;
    background: white;
    box-shadow: 2px 2px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-descrip {
    margin-left: 1rem;
}
.cart-icon {
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background-color: #ffa500;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
