* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.customizationbox {
    height: 90vh;
    width: 35vw;
    position: fixed;
    left: 32.5vw;
    top: 5vh;
    background-color: rgba(247, 145, 0, 0.8);
    border: black solid 2px;
    z-index: 4;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.closewindowicon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 2rem;
    font-size: x-large;
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 6;
}
.closewindowicon:hover {
    color: rgb(75, 74, 74);
}
.restnamecustom {
    font-size: x-large;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(255, 208, 0);
}
.dishdescrip {
    width: 90%;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
.customname {
    height: 2rem;
    width: 80%;
    margin-top: 1rem;
    border-radius: 1rem;
    background: white;
    border: black solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.custombox {
    height: 1.5rem;
    width: 70%;
    margin-top: 10px;
    border-radius: 1rem;
    background: whitesmoke;
    /* border: black solid 1px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.customizationname {
    margin-left: 1rem;
}
.plus-icon {
    margin-right: 1rem;
}

.hidden {
    display: none;
}
