* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.catOption {
    width: 90%;
    height: 2rem;
    border-radius: 1rem;
    background-color: rgb(255, 206, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.active {
    /* box-shadow: 3px 3px 3px rgb(247, 145, 0); */
    border: rgb(247, 145, 0) solid 2px;
}

.catOption:hover {
    background-color: rgb(255, 190, 70);
}
