* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    height: 2rem;
    width: 40vw;
    margin: 1rem;
    border-radius: 10px;
    background-color: aliceblue;
}
.searchbox {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.restres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.restinfo {
    width: 55vw;
    height: 20vh;
    border-radius: 15px;
    margin-bottom: 1rem;
    background-color: aliceblue;
}

.restmenu {
    height: 57vh;
    width: 62vw;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.restcat {
    width: 20%;
    height: 90%;
    margin: 0.15rem;
    /* background-color: peachpuff; */
    border-right: 2px solid rgb(78, 78, 78);
}
