* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.searchbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 1rem;
    height: 2rem;
    width: 40vw;
    margin: 1rem;
    border-radius: 10px;
    background-color: aliceblue;
}
.searchbox {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.restres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
