* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.subcat {
    width: 90%;
    margin-top: 1rem;
    margin-left: 3rem;
}
.subcatname {
    width: 90%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    border-radius: 1rem;
}
